body {
  background-color: #111;
  color: #aaa;
}

body, div, span, img, a, button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.helm-controls {
  text-align: center;
}

.helm-controls button {
  margin-bottom: 10px;
}

.helm-controls button.up {
  margin-left: 3px;
}

.minimap-view .controls {
  padding-bottom: 20px;
}

.minimap-view button.engage {
  width: 100%;
  font-size: 50px;
}
