"texture":
  "image": "img/crate.gif"
  "item_size": 2
  "number_of_items": 24
  "points": [
    # Front Face
    0.0, 0.0
    1.0, 0.0
    1.0, 1.0
    0.0, 1.0
    # Back Face
    1.0, 0.0
    1.0, 1.0
    0.0, 1.0
    0.0, 0.0
    # Top Face
    0.0, 1.0
    0.0, 0.0
    1.0, 0.0
    1.0, 1.0
    # Bottom Face
    1.0, 1.0
    0.0, 1.0
    0.0, 0.0
    1.0, 0.0
    # Right Face
    1.0, 0.0
    1.0, 1.0
    0.0, 1.0
    0.0, 0.0
    # Left Face
    0.0, 0.0
    1.0, 0.0
    1.0, 1.0
    0.0, 1.0
  ]
"vertices":
  "item_size": 3
  "number_of_items": 24
  "points": [
    # Front Face
    -1.0, -1.0,  1.0
     1.0, -1.0,  1.0
     1.0,  1.0,  1.0
    -1.0,  1.0,  1.0
    # Back Face
    -1.0, -1.0, -1.0
    -1.0,  1.0, -1.0
     1.0,  1.0, -1.0
     1.0, -1.0, -1.0
    # Top Face
    -1.0,  1.0, -1.0
    -1.0,  1.0,  1.0
     1.0,  1.0,  1.0
     1.0,  1.0, -1.0
    # Bottom Face
    -1.0, -1.0, -1.0
     1.0, -1.0, -1.0
     1.0, -1.0,  1.0
    -1.0, -1.0,  1.0
    # Right Face
     1.0, -1.0, -1.0
     1.0,  1.0, -1.0
     1.0,  1.0,  1.0
     1.0, -1.0,  1.0
    # Left Face
    -1.0, -1.0, -1.0
    -1.0, -1.0,  1.0
    -1.0,  1.0,  1.0
    -1.0,  1.0, -1.0
  ]
"vertex_indeces":
  "item_size": 1
  "number_of_items": 36
  "points": [
      0,  1,  2,    0,  2,  3   # Front Face
      4,  5,  6,    4,  6,  7   # Back Face
      8,  9,  10,   8,  10, 11  # Top Face
      12, 13, 14,   12, 14, 15  # Botom Face
      16, 17, 18,   16, 18, 19  # Right Face
      20, 21, 22,   20, 22, 23  # Left Face
    ]
"vertex_normals":
  "item_size": 3
  "number_of_items": 24
  "points": [
    # Front face
     0.0,  0.0,  1.0
     0.0,  0.0,  1.0
     0.0,  0.0,  1.0
     0.0,  0.0,  1.0
    # Back face
     0.0,  0.0, -1.0
     0.0,  0.0, -1.0
     0.0,  0.0, -1.0
     0.0,  0.0, -1.0
    # Top face
     0.0,  1.0,  0.0
     0.0,  1.0,  0.0
     0.0,  1.0,  0.0
     0.0,  1.0,  0.0
    # Bottom face
     0.0, -1.0,  0.0
     0.0, -1.0,  0.0
     0.0, -1.0,  0.0
     0.0, -1.0,  0.0
    # Right face
     1.0,  0.0,  0.0
     1.0,  0.0,  0.0
     1.0,  0.0,  0.0
     1.0,  0.0,  0.0
    # Left face
    -1.0,  0.0,  0.0
    -1.0,  0.0,  0.0
    -1.0,  0.0,  0.0
    -1.0,  0.0,  0.0
  ]
